body {
    font-family: ;
   
    background-image: linear-gradient(to top, rgb(60, 1, 60), purple);
    background-repeat: no-repeat;
}

img {
    height: 20vh;
   
}
.div_main {
    margin: 10%;
    width: 80%;
    height: 500px;
    background-color: violet;
    border-radius: 20px;

}

.inner_div {
    margin: 20px;
}

h2 {
    margin: 20px;
}